registry=https://registry.npmjs.org

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=7B45D1E2-F8FA-4E9A-B1EC-65A6CFE44A66

@prospectwith:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
